<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal e=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="../static/scripts/index.js"></script> -->

    <title>Chris | Entrepreneur Tracker</title>
</head>

<body>
    <nav>
        <div class="logo"></div>
        <div class="nav-options">
            <a href="/">Home</a>
            <a href="/budget">Budget</a>
            <a href="/spending">Spending</a>
        </div>
    </nav>

    <!-- divs used to divide container top half bottom half (note for myself) -->
    <div class="editContainer">
        <div class="topContainer">
            <h1>Spending</h1>
        </div>
        <div class="bottomContainer">
            <div class="transactionListContainer">
                <div class="buttonList">
                    <form action="{{ url_for('displayTransactions') }}" method="POST">
                        {% for category in userData['categories'] %}
                            <button type="submit" name="category" value="{{ category['name'] }}" class="displayButton">
                                {{ category['name'] }}
                            </button>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>


</html>